{% extends 'emp_base.html' %}

{% block main %}

<div class="card-body" style="box-shadow:2px 1px 5px #ccc;">
    <h5 class="p-2 text-danger" style="border-bottom:2px solid orange;">Change Password</h5>

    <div class="container-fluid">
        <form action="" method="post">
            {% csrf_token %}
            <div class="form-row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="">Current Password</label>
                        <input type="password" name="current_password" class="form-control">
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="">New Password</label>
                        <input type="password" name="new_password" class="form-control">
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="">Confirm Password</label>
                        <input type="password" name="confirm_password" class="form-control">
                    </div>
                </div>
            </div>
            <input type="submit" value="submit" class="btn btn-success px-3">
        </form>
    </div>
</div>
{% endblock main %}