{% extends 'emp_base.html' %}

{% block main %}

<div class="card-body" style="box-shadow:2px 1px 5px #ccc;">
    <a href="{% url 'emp_exp' %}" class="btn btn-primary float-right btn-sm">view My Work Experience</a>
    <h5 class="p-2 text-danger" style="border-bottom:2px solid orange;">work Experience</h5>

    <div class="container-fluid">
        <form action="" method="post">
            {% csrf_token %}
            <table class="table table-bordered my-3">
                <tr>
                    <th>First Company Name</th>
                    <td><input type="text" name="company_1_name" value="{{experience.company_1_name}}" class="form-control"></td>
                </tr>
                <tr>
                    <th>First Job Designation</th>
                    <td><input type="text" name="company_1_designation" value="{{experience.company_1_designation}}" class="form-control"></td>
                </tr>
                <tr>
                    <th>First Job Salary</th>
                    <td><input type="text" name="company_1_salary" value="{{experience.company_1_salary}}" class="form-control"></td>
                </tr>
                <tr>
                    <th>First Job Duration</th>
                    <td><input type="text" name="company_1_duration" value="{{experience.company_1_duration}}" class="form-control"></td>
                </tr>

                <tr>
                    <th>Second Company Name</th>
                    <td><input type="text" name="company_2_name" value="{{experience.company_2_name}}" class="form-control"></td>
                </tr>
                <tr>
                    <th>Second Job Designation</th>
                    <td><input type="text" name="company_2_designation" value="{{experience.company_2_designation}}" class="form-control"></td>
                </tr>
                <tr>
                    <th>Second Job Salary</th>
                    <td><input type="text" name="company_2_salary" value="{{experience.company_2_salary}}" class="form-control"></td>
                </tr>
                <tr>
                    <th>Second Job Duration</th>
                    <td><input type="text" name="company_2_duration" value="{{experience.company_2_duration}}" class="form-control"></td>
                </tr>

                <tr>
                    <th>Third Company Name</th>
                    <td><input type="text" name="company_3_name" value="{{experience.company_3_name}}" class="form-control"></td>
                </tr>
                <tr>
                    <th>Third Job Designation</th>
                    <td><input type="text" name="company_3_designation" value="{{experience.company_3_designation}}" class="form-control"></td>
                </tr>
                <tr>
                    <th>Third Job Salary</th>
                    <td><input type="text" name="company_3_salary" value="{{experience.company_3_salary}}" class="form-control"></td>
                </tr>
                <tr>
                    <th>Third Job Duration</th>
                    <td><input type="text" name="company_3_duration" value="{{experience.company_3_duration}}" class="form-control"></td>
                </tr>
            </table>
            <center><input type="submit" value="Submit" class="btn btn-primary px-5"></center>
        </form>
    </div>
</div>    

{% endblock main %}