.nav-link{
    color: white !important;
}
.nav-link:hover{
    color: yellow !important;
    background-color: red;
    border-radius: 15px;
}
.navbar-brand{
    color: yellow !important;
    font-weight: bold;
}